@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@500&display=swap');

:root{
    --tomato-theme-background-color: #FFDB89;
    --tomato-theme-main-color: #CD0404;
    --tomato-theme-sub-text-color: #850000;
    --tomato-theme-nav-background-color: #FFF6C3;
}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background-color: var(--tomato--theme-background-color);
    height: 100%;
}

#root{
    height: 100%;
}